{% assign map_url = image_url | default: "https://radar.weather.gov/ridge/standard/CONUS_0.gif" %}
{% assign cache_bust = "now" | date: "%s" %}
{% assign cache_separator = "?" %}
{% if map_url contains "?" %}
  {% assign cache_separator = "&" %}
{% endif %}

<style>
  .map-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
  }

  .map-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(1) contrast(1.15);
  }
</style>

<div class="map-image">
  <img src="{{ map_url }}{{ cache_separator }}v={{ cache_bust }}" alt="">
</div>
